@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	//Layout = "_Layout";

	ViewBag.Title = "Home - Index";
}



@*
  Razor = Engine Template
*@

<h4>Page</h4>
<a href="/Page/Flow">Flow</a>
<a href="/Page/Index">Index</a>
<a href="/Page/PassData">PassData</a>

@section ads {
<h1>Ads</h1>
}