<!DOCTYPE html>
<html>
	<head>
		<title>SecondProject</title>
		<!--CSS, JS, Meta-->
	</head>
	<body>
		<!--Header-->
		<!--Menu-->
		<!--Body(Content)-->
		@RenderBody()
		<!--Footer-->
	</body>
</html>