<!DOCTYPE html>
<html>
<head>
	<title>SecondProject</title>
	<!--CSS, JS, Meta-->
</head>
<body>
	<!--Header-->
	<!--Menu-->
	<!--Body(Content)-->
	<div id="#body">
		@RenderBody()
	</div>
	<!--Footer-->
	<div id="#sectionAds">
		@RenderSection("ads", required: false)
	</div>

	@RenderSection("scripts", required: false)
</body>
</html>